//----------------------------------------------------//
//                                                    //
//                 // Livraison //                    //
//                  _livraison.scss                   //
//----------------------------------------------------//


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// CSS de la couche perimètre de livraison
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.perimetre-livraison{
    @include flex-column-center;
    padding: 6em 5em;

    & img{
        width: 6em;
        height: auto;
        color: var(--vert);
    }

    & p{
        font-size: 1.2em;
        font-weight: 400;
    }

    & input[type=text]{
        @include input-text;
        width: 20%;
    }

    & button{
        @include button;
        padding: .5em 1.5em;
        background-color: var(--vert);

        &:hover{
            background-color: var(--vert-fonce);
        }
    }

    & img, p, button, input[type=text]{
        margin-top: 1.5em;
    }
}