//----------------------------------------------------//
//                                                    //
//                  // Sources  //                    //
//                   _sources.scss                    //
//----------------------------------------------------//

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// CSS des sources
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.sources{
    padding: 6em 5em;

    & h2{
        margin-bottom: 2em;
    }

    & article{
        margin: 2em 0;
    }

    & img{
        width: 10%;
        height: auto;
    }

    & a{
        font-weight: 400;

        &:hover{
            color: var(--vert);
        }
    }
}